/* fonts */

@import url("https://fonts.googleapis.com/css?family=Kanit&display=swap");

body {
  font-family: Kanit, serif;
}

/* navbar */

.navbar-collapse {
  display: flex;
  justify-content: space-between;
}

.navbar-toggler-icon {
  color: white;
}

.nav-link {
  color: white;
  padding-bottom: 0;
  transition: 0.1s;
  border-bottom: solid;
  border-color: rgb(82, 35, 7);
}

.nav-link.active {
  color: rgb(247, 218, 20);
  border-bottom: solid;
  border-color: rgb(247, 218, 20);
}

.nav-link:hover {
  color: rgb(247, 218, 20);
  border-bottom: solid;
  border-color: rgb(247, 218, 20);
}

/* nav-btn */

.btn-group .btn {
  color: rgb(82, 35, 11);
  background-color: rgb(247, 218, 20);
  border: none;
  transition: 0.1s;
}

.btn-group a:hover {
  background-color: rgb(204, 180, 24);
  color: rgb(97, 41, 13);
}

/* footer */

footer {
  background-color: rgb(82, 35, 7);
}

.footer-text a {
  color: white;
  text-decoration: none;
  transition: 0.1s;
}

.footer-text a:hover {
  text-decoration: underline;
}

.media-links {
  display: flex;
  justify-content: center;
}
